@page "/"
@using AI_Sorter.Components.CardLoadFile
@using AI_Sorter.Components.CardStatus
@inject MarkdownService MarkdownService
@inject OllamaApiService OllamaApiService

<PageTitle>AI Sorter</PageTitle>

<section class="container card-wrapper">
	@*     <textarea @bind="promptInput" rows="10" cols="50"></textarea>

	<button @onclick="SendApiRequest">Отправить запрос</button>

	<div>
	@((MarkupString)htmlOutput)
	</div> *@
	
	<div class="card card-load">
		<CardLoadFile />
	</div>
	<div class="card card-satus">
		<CardStatus/>
	</div>
</section>


@code {
    private string promptInput = "Почему небо голубое?";
    private string htmlOutput = string.Empty;

    private async void SendApiRequest()
    {
        htmlOutput = MarkdownService.ConvertMarkdownToHtml(await OllamaApiService.GetOllamaResponseAsync(promptInput, "gemma2"));
        StateHasChanged();
    }
}