@import url("../Fonts/lato.css");

:root {
    --font-main: "Lato", sans-serif;
    --color-white: #FFFFFF;
    --color-black: #0B1F33;
    --color-grey: #8F8F8F;
    --color-light-grey: #E1E1E1;
    --color-main: #1D5DEB;
    --color-sub-main: #4D83FA;
    --color-background: #FAFCFF;
    --color-error: #E11432;
    --color-progress: #F8B200;
    --color-done: #24AD4A;
}

.green {
    color: var(--color-done);
}

.red {
    color: var(--color-error);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--font-main);
    font-weight: 400;
    letter-spacing: 0.02rem;
    color: var(--color-black);
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

html, body {
    font-family: var(--font-main);
}

body {
    background-color: var(--color-background);
}

h1 {
    font-size: 32px ;
    font-weight: 700;

    text-align: center;

    margin: 0;

    color: var(--color-main);
}

h1:focus {
    outline: none;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

h3 {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}

span {
    font-size: inherit;
    letter-spacing: inherit;
    font-weight: inherit;
}

hr {
    margin-top: 16px;
    border: 1px solid #E2E9FF;
}

p {
    font-size: 14px;
    color: var(--color-black);
}

ul {
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin-left: 20px
}

li {

}

input[type="file"] {
    display: none;
}

.button {
    padding: 12px 24px;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 700;

    background-color: var(--color-main);

    border-radius: 8px;

    cursor: pointer;
}

.button:disabled {
    cursor:default;
    background-color: var(--color-sub-main);
}