@import url("../Fonts/lato.css");

:root {
    --font-main: "Lato", sans-serif;
    --color-white: #FFFFFF;
    --color-black: #0B1F33;
    --color-grey: #8F8F8F;
    --color-light-grey: #E1E1E1;
    --color-main: #1D5DEB;
    --color-main-hover: #1042B1;
    --color-sub-main: #4D83FA;
    --color-background: #FAFCFF;
    --color-error: #E11432;
    --color-progress: #F8B200;
    --color-done: #24AD4A;
}

.green {
    color: var(--color-done);
}

.red {
    color: var(--color-error);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--font-main);
    font-weight: 400;
    letter-spacing: 0.02rem;
    color: var(--color-black);
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

html, body {
    font-family: var(--font-main);
}

body {
    background-color: var(--color-background);
}

h1 {
    font-size: 32px ;
    font-weight: 700;

    text-align: center;

    margin: 0;

    color: var(--color-main);
}

h1:focus {
    outline: none;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

h3 {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}

span {
    font-size: inherit;
    letter-spacing: inherit;
    font-weight: inherit;
}

hr {
    margin-top: 16px;
    border: 1px solid #E2E9FF;
}

p {
    font-size: 14px;
    color: var(--color-black);
}

ul {
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin-left: 20px
}

li {

}

a {
    text-decoration: none;
}

input {
    font-family: var(--font-main);
    border: 3px solid #E2E9FF;
    border-radius: 8px;
    width: 100%;
    /*min-height: 30px;*/
    /*resize: vertical;*/
    padding: 12px 16px;
}

/*input[type="file"] {
    display: none;
}*/

.button {
    padding: 12px 24px;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 700;
    background-color: var(--color-main);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}

    .button:hover {
        background-color: var(--color-main-hover);
    }

a.disabled {
    cursor: default;
    pointer-events: none;
    background-color: var(--color-sub-main)
}

.button:disabled {
    cursor:default;
    background-color: var(--color-sub-main);
}

.button-logout {
    background-color: red;
}

textarea {
    font-family: var(--font-main);
    border: 3px solid #E2E9FF;
    border-radius: 8px;
    width: 100%;
    min-height: 30px;
    resize: vertical;
    padding: 8px;
}

textarea:target {
    border: 3px solid #E2E9FF;
    border-radius: 8px;
}

label {
    display:block;
    padding-bottom: 8px;
}

.card-wrapper {
    display: flex;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
    padding: 40px;
    border-radius: 12px;
    background-color: var(--color-white);
    box-shadow: 0px 0px 10px 0px rgba(178, 189, 243, 0.3);
}

.card-load {
    width: 483px;
}

.card-satus {
    width: 687px;
}

.login-card {
    width: 500px;
}

.validation-message {
    padding-top: 4px;
    color: var(--color-error);
}

.notFound-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.code-error {
    font-size: 64px;
}

.file-card {
    display: flex;
    justify-content: space-between;
    padding: 18px 24px;
    border-radius: 12px;
    background-color: var(--color-white);
    box-shadow: 0px 0px 10px 0px rgba(178, 189, 243, 0.3);
}

.file-info-content {
    display: flex;
    gap: 10px;
}

.status-done {
    color: var(--color-done);
}

.status-progress {
    color: var(--color-progress);
}

.status-error {
    color: var(--color-error);
}

.file-date {
    font-size: 12px;
    color: var(--color-grey);
    padding-top: 8px;
}

.upload-zone {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 64px 0;
    border: 3px dashed #E2E9FF;
    border-radius: 8px;
}

.hover {
    border: 3px dashed #FFD2D2;
}

::deep input[type="file"] {
    /*display: none;*/
    width: 100%;
    padding: 20px
}

.prompt-zone {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px 0;
}

.button-center {
    display: flex;
    justify-content: center;
}

.fileselect {
    display: inline-block;
    cursor: pointer;
    color: var(--color-main);
    text-decoration: underline;
    text-underline-offset: 4px;
    font-weight: 700;
    transition: all 0.2s ease;
}

    .fileselect:hover {
        color: var(--color-main-hover);
    }

.tooltip {
    position: absolute;
    margin-left: 4px;
}

.tooltip-toggle {
    border: none;
    border-radius: 20px;
    padding: 0;
    margin: 0;
    display: block;
}

.tooltip-icon {
    width: 16px;
    height: 16px;
    color: var(--color-main);
    padding: 0;
    display: block;
}

.tooltip-toggle:hover .tooltip-icon {
    color: var(--color-main);
}

.tooltip-text {
    background-color: rgb(0, 0, 0, 0.5);
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-transform: none;
    text-align: center;
    padding: 16px;
    border-radius: 10px;
    width: 400px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    display: none;
    margin-bottom: 4px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
    display: block;
}

.login-wrapper {
    display: flex;
    justify-content: center;
}

.header {
    background-color: var(--color-white);
    padding: 24px 0;
    box-shadow: 0px 0px 10px 0px rgba(178, 189, 243, 0.3);
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.footer {
    height: 65px;
    background-color: var(--color-white);
    /*    padding: 24px 0;*/
    box-shadow: 0px 0px 10px 0px rgba(178, 189, 243, 0.3);
}

.dashboard-wrapper {
    display: flex;
    justify-content: stretch;
    height: 100%;
    gap: 24px;
    padding-right: 24px;
}

.dashboard-header-wrapper {
    display: flex;
    justify-content:space-between;
}

.dashboard-sidebar {
    width: 300px;
    background-color: var(--color-white);
    padding: 24px 12px;
    box-shadow: 0px 0px 10px 0px rgba(178, 189, 243, 0.3);
    border-radius: 0 12px 12px 0;
}

.components-wrapper {
    width: 100%;
}

.dashboard-menu {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: stretch;
}

.menu-button {
    background-color: var(--color-background);
    color: var(--font-main);

    text-align: left;

    width: 100%;
}

    .menu-button:hover {
        background-color: #E7ECF4;
    }

    .menu-button:disabled {
        background-color: var(--color-background);
        color: #E7ECF4;
    }

.components-card {
    width: 100%;
    min-height: 600px
}

table {
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 8px
}

tr:nth-child(even) {
    background-color: var(--color-background);
}

tr:hover {
    background-color: #E7ECF4;
}

th {
    text-align: left
}

.button-del {
    background-color: var(--color-error);
    padding: 8px 16px;
}

    .button-del:hover {
        background-color: #C4152E;
    }

.button-add {
    background-color: var(--color-done);
    padding: 8px 16px;
}

    .button-add:hover {
        background-color: #1F9C42;
    }

.modal-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content:center;
    align-items: center;
}

.modal {
    position: fixed;
}

.button-cancel {
    background-color: unset;
    color: var(--color-main);
    padding: 8px 8px;
}

.button-cancel:hover {
    background-color: unset;
    color: var(--color-main-hover);
}

.hide {
    display: none;
}