@inherits LayoutComponentBase

<div class="page">
    <header class="header">
        <div class="container">
			<h1>AI<span class="red">Sorter</span></h1>
        </div>
    </header>

    <main class="main-wrap">
        @Body
    </main>

    <footer class="footer"></footer>
</div>
