<div>
	<h2>Статус обработки</h2>

	<hr />
</div>

<div class="file-card">
	<div>
		<div class="file-info-content">
			<h3>Название файла.xlsx</h3>
			<span class="vertical-line">|</span>
			<p class="status-done">Готово</p>
		</div>
		<p class="file-date">01.01.2024</p>
	</div>
	<button class="button">Скачать</button>
</div>
<div class="file-card">
	<div>
		<div class="file-info-content">
			<h3>Название файла.xlsx</h3>
			<span class="vertical-line">|</span>
			<p class="status-progress">В процессе</p>
		</div>
		<p class="file-date">01.01.2024</p>
	</div>
	<button disabled class="button">Скачать</button>
</div>
<div class="file-card">
	<div>
		<div class="file-info-content">
			<h3>Название файла.xlsx</h3>
			<span class="vertical-line">|</span>
			<p class="status-error">Произошла ошибка</p>
		</div>
		<p class="file-date">01.01.2024</p>
	</div>
	<button disabled class="button">Скачать</button>
</div>

@code {

}
