<div>
	<h2>Загрузить файл</h2>

	<hr />
</div>

<ul>
	<li>Выберите файл в формате .xlsx или .xls</li>
	<li>Перетащите файл или нажмите на “Выбрать файл”</li>
	<li>Выберите режим сортировки</li>
	<li>Нажмите на кнопку “Начать” </li>
</ul>

<div id="uploadFile_Loader" >
	<form action="/" method="post">
		<fieldset class="upload-zone">
			<input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />
			<p class="" id="filedrag">Перетащите файл или выберите на компьютере</p>
			<label for="fileselect" class="fileselect">Выбрать файл</label>
			<input type="file" id="fileselect" name="fileselect[]" multiple="multiple"/>
		</fieldset>

		<fieldset class="radio-zone">
			<p>Введите промпт для сортировки:</p>

			<div>
				<textarea id="text" name="text" rows="5"/>
			</div>
		</fieldset>

		<div class="button-center" id="submitbutton">
			<button class="button" type="submit">Начать</button>
		</div>
	</form>
</div>


@code {

}
